.vcenter {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.loginBackgroundColor{
    background-color: lightblue;
}

.footerBackgroundColor{
    background-color: #DEE5ED;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}
