<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="hibernate-context.xml"/>

    <bean class="com.controller.HomeController"/>
    <bean class="com.controller.user.UserController"/>
    <bean class="com.service.UserService"/>
    <bean class="com.service.AddressService"/>
    <bean class="com.component.AuthenticationHelper"/>
    <bean class="com.service.AuthenticationService" id="authenticationService" />
    <bean class="com.dao.BaseDao"/>

</beans>